.nav-wrapper {
    background: #004dad;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 5%; */
}

.nav-design {
    display: flex;
    justify-content: end;
    gap: 5px 25px;
    max-width: 1200px;
    padding: 20px 20px;
}

.nav-design a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}



@media (max-width: 768px) {

    /* Medium Devices */
    .nav,
    .nav-design {
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: space-between; */
        /* margin: 0 5%; */
    }

}


@media (max-width: 480px) {

    /* Small Device */
    .nav,
    .nav-design {
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: space-between; */
        /* margin: 0 5%; */
    }
}